.grid-container{
    grid-template-columns: repeat( 12, minmax(250px, 1fr) );
    display: grid;
    grid-column: auto;
    grid-gap:10px;
}
.grid-content{
    border: 1px solid black;
    padding : 10px 20px;
}